---
layout: recommendation
title: Dessert
permalink: /sf/dessert
definition: The s is repeated twice in dessert because you always want more of it.
---
<!-- To make a new page like this one, replace topic in site.data.[topic].data with appropriate file-->
{% if site.data.sfdessert.data == null %}
    <div class="alert alert-danger" role="alert">
      Unfortunately, we don't have any recommendations for this meal yet.
    </div>
{% else %}
  {% for restaurant in site.data.sfdessert.data %}
  <div class="card">
    <div class="card-img-body">
      <img class="card-img" src="{{ site.restaurant_images | sample }}" alt="Stockholder Image"> 
    </div> 
    <div class="card-body">
      <h4 class="card-title">{{restaurant.name}}</h4>
       <footer class="blockquote-footer">Located at <cite title="Source Title">{{restaurant.address}}</cite></footer>
      <p class="card-text">{{restaurant.notes}}</p>
      <a href="{{restaurant.yelp_link}}" class="btn btn-primary" target="_blank">View Yelp Page</a>
      </div>
  </div>
  {% endfor %} 
{% endif %}