<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">The Most Important Site<br> in Human History</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          New York
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/nyc/brunch">Brunch</a>
          <a class="dropdown-item" href="/nyc/pizza">Pizza</a>
          <a class="dropdown-item" href="/nyc/frozen treats">Frozen Treats</a>
          <a class="dropdown-item" href="/nyc/donuts">Donuts</a>
          <a class="dropdown-item" href="/nyc/cakes">Cakes</a>
          <a class="dropdown-item" href="/nyc/boba">Boba</a>
          <a class="dropdown-item" href="/nyc/sushi">Sushi</a>
          <a class="dropdown-item" href="/nyc/dumplings">Dumplings</a>
          <a class="dropdown-item" href="/nyc/bagels">Bagels</a>
          <a class="dropdown-item" href="/nyc/dim sum">Dim Sum</a>
          <a class="dropdown-item" href="/nyc/thai">Thai</a>
          <a class="dropdown-item" href="/nyc/coffee">Coffee</a>
          <a class="dropdown-item" href="/nyc/cookies">Cookies</a>
          <a class="dropdown-item" href="/nyc/fusion">Fusion</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          San Francisco
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/sf/brunch">Brunch</a>
          <a class="dropdown-item" href="/sf/coffee">Coffee</a>
          <a class="dropdown-item" href="/sf/pizza">Pizza</a>
          <a class="dropdown-item" href="/sf/ramen">Ramen</a>
          <a class="dropdown-item" href="/sf/lunch">Lunch</a>
          <a class="dropdown-item" href="/sf/dinner">Dinner</a>
          <a class="dropdown-item" href="/sf/dessert">Dessert</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
